html {
  align-items: center;
}

main {
  min-height: 80vh;
}

h1,
h2,
h3,
h4 {
  padding: 2rem 0;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.2rem;
}

h4 {
  font-size: 1rem;
}

.courseDetailHeading {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.cardText {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1; /* number of lines to show */
  -webkit-box-orient: vertical;
}

.cardTitle {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 6; /* number of lines to show */
  -webkit-box-orient: vertical;
  height: 50%;
}

.cardTitleFeedback {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  -webkit-box-orient: vertical;
  height: 40px;
}

@media screen and (max-width: 768px) {
  .CarouselContainer {
    display: none !important;
  }
}

@media screen and (max-width: 680px) {
  .CarouselContainer {
    display: none !important;
  }
}


.emotion {
	font-size: 120px;
	height: 140px;
	line-height: 170px;
}

.emotion1:hover:before {
   content: "😡";
   position: absolute;
    font-size: 170px;
  margin-left: -25px;
  -webkit-transform: scale(1.2);
    -webkit-transform: rotate(30deg);
}
.emotion2:hover:before {
   content: "🥴";
   position: absolute;
    font-size: 150px;
  margin-left: -15px;
    -webkit-transform: rotate(15deg);
}
.emotion3:hover:before {
  content: "😨";
  position: absolute;
  font-size: 140px;
  margin-left: -10px;
}
.emotion4:hover:before {
   content: "☹️";
   position: absolute;
  font-size: 150px;
  margin-left: -15px;
    -webkit-transform: rotate(-15deg);
}
.emotion5:hover:before {
   content: "😄";
   position: absolute;
    font-size: 170px;
  margin-left: -25px;
  -webkit-transform: rotate(-30deg);
}